<%- include("partials/header") -%>

<h1>Home</h1>

   <p> <%= info1 %> </p>




<% newposts.forEach(function(post){ %>
    <% console.log(post.newTitle) %>
<%  }); %>

<%- include("partials/footer") -%>